* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 2000px;
    width: 100%;
   
    font-family: 'Courier New', Courier, monospace;
   
   
}

#cabeza{
    background-color: #416279;
    border-right: 5px #a39696;
    width: 40%;
    height: 100vh;
    display: grid;
    grid-column: auto;
       position: fixed;}

#cabeza  nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
}
#cabeza nav a{
    text-decoration: none;
    color: #5c241d;
    padding: 20px;
    width: 99%;
    flex-wrap: wrap;
    justify-content: center;


}
#cabeza nav a:hover{
    background-color: rgb(35, 110, 104);
}
#info{
    background-color: #438657;
    border-right: 5px #1e6354;
    width:40%;
    height: 100vh;
    position: fixed;

}

#info  nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
}
#info nav a{
    text-decoration: none;
    color: #8b77b9;
    padding: 20px;
    width: 99%;
    flex-wrap: wrap;
    justify-content: center;
 

}
nav img{
width: 50px;
height: 50px;
}
nav h1{
    margin-top: 12px;
    align-items: center;
  
    font-family: 'Courier New', Courier, monospace;
}
nav h6{
    
    align-items: center;
  
    font-family: 'Courier New', Courier, monospace;
}

#info nav a:hover{
    background-color: rgb(102, 97, 116);
}
main{
background: rgb(251, 249, 255);

}


.contenedor-producto{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff00;
    justify-content: space-between;
    color: whitesmoke;
}
.producto {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;

    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #2d7692;
    border-radius: 10px;
    color: whitesmoke;

}
.producto h3{
    color: #f1f1e9;
    font-family: 'Playfair Display', serif;
    margin-left: 30px;
}
.producto img{
    width: 90%;
    height: 45%;
}
.producto h2, p {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
  justify-content: center;
    margin-left: 15px;
}
button{
    justify-content: center;
    justify-items: center;
    margin-left: 45px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: #FFF44F;
}
.imagenes{
    border-radius: 5px;
    justify-content: center;
    margin-left: 10px;
}
.imagenes:hover{
    background: rgb(19, 78, 126);
    transform: scale(1.1);
}


#main-doc {
    background: linear-gradient(45deg, rgb(107, 159, 189), rgb(8, 133, 206) );
    display: grid;
 grid-column: auto;
    position: absolute;
    left: 40%;
    max-width: 100%;
    color: #292525;
}
.main-section {
    width: 100%;
    padding: 3% 5%;

}
.main-section header {
    border-bottom: 1px solid #553f3f;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    #cabeza{
        background-color: #416279;
        border-right: 5px #a39696;
        width: 50%;
        height: 100vh;
        display: grid;
        grid-column: auto;
           position: fixed;}
    
    #cabeza  nav{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        overflow: auto;
    }
    #cabeza nav a{
        text-decoration: none;
        color: #5c241d;
        padding: 20px;
        width: 99%;
        flex-wrap: wrap;
        justify-content: center;
    
    
    }
    #cabeza nav a:hover{
        background-color: rgb(35, 110, 104);
    }
    #info{
        background-color: #438657;
        border-right: 5px #1e6354;
        width:50%;
        height: 100vh;
        position: fixed;
    
    }
    
    #info  nav{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        overflow: auto;
    }
    #info nav a{
        text-decoration: none;
        color: #8b77b9;
        padding: 20px;
        width: 99%;
        flex-wrap: wrap;
        justify-content: center;
     
    
    }
    nav img{
    width: 50px;
    height: 50px;
    }
    nav h1{
        margin-top: 12px;
        align-items: center;
      
        font-family: 'Courier New', Courier, monospace;
    }
    nav h6{
        
        align-items: center;
      
        font-family: 'Courier New', Courier, monospace;
    }
    
    #info nav a:hover{
        background-color: rgb(102, 97, 116);
    }
    #main-doc {
        background: linear-gradient(45deg, rgb(107, 159, 189), rgb(8, 133, 206) );
        display: grid;
     grid-column: auto;
        position: absolute;
        left: 50%;
        max-width: 100%;
        color: #292525;
    }
}